<!DOCTYPE html>
<html>
<head>
    <!-- In the head we have a title a link to the icon and the link to the css page-->
    <title>IS413 Assignment2</title>
    <link rel="icon" type="image/png" href="~/img/koolkaticon.png" />
    <link href="~/css/Styles.css" rel="stylesheet" />
</head>
<body>
    <!-- This is the Dynamic layout. All pages will have this code. It has a head, header with a dynamic h1 tag, menu, and script-->
    <header>
        <h1>@ViewBag.header</h1>
        <menu>
            <ul>
                <li class="nobullet"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="nobullet"><a asp-controller="Home" asp-action="GradeCalculator">Grade Calculator</a></li>
            </ul>
        </menu>
    </header>
  
    @RenderBody()

    <!-- This is the link to the javascript page that handles the grade calculator-->
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/JavaScript.js"></script>

</body>
</html>
