@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // Dynamically load the header
    ViewBag.header = "Calculate Your IS413 Grade!";
}
<!-- import the model -->
@model Assignment1.Models.GradeCalcModel
<h3>Grade Calculator</h3>
<!-- This is the form for the grade calculator-->
<!-- It will be added to the layout page. It also is connected to the Gradecalc model-->
<form asp-action="GradeCalculator" method="post">
    <fieldset>
        <legend>Enter your percent out of 100 in each category</legend>
        <label for="assignments">Assignments: </label>
        <input  id="assignments" asp-for="assignments"  />
        <br />
        <label for="groupproj">Group Project: </label>
        <input  id="groupproj" asp-for="groupproj"  />
        <br />
        <label for="quizzes">Quizzes: </label>
        <input  id="quizzes" asp-for="quizzes"  />
        <br />
        <label for="exams">Exams: </label>
        <input  id="exams" asp-for="exams"  />
        <br />
        <label for="intex">Intex: </label>
        <input  id="intex" asp-for="intex" />
        <br />
        <br />
        <input type="submit" id="submit" value="Submit" />
        <div asp-validation-summary="All"></div>
    </fieldset>
</form>